* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Montserrat;
}

.wrapper {
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

.sidebar {
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.photo {
  width: 370px;
}

.my-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 110px;
  padding-top: 110px;
}

.contacts {
  margin-left: 40px;
  margin-top: 60px;
}

.contact-tittle {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #646c77;
}

.letter {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}
.item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #e4630e;
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.fed {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.bigtext {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}

.info-container {
  margin-bottom: 65px;
}

.projects {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.projects-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
}

.tech-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
}

.dots {
  color: #595959;
  font-weight: 100;
}

.project-item {
  font-weight: 700;
  margin-left: 17px;
}

.projects-cont {
  margin-bottom: 65px;
}

.proftittle {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.profesion-company {
  color: #ff6b08;
}

.profesion-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.cpd {
  color: #000000;
}

.prof-dutes {
  margin-top: 14px;
  margin-bottom: 30px;
}

.prof-dutes-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.university {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}

.spec {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}
